.section2{
	font-family:times,serif;
	background-image: url("/home/yankee/Documents/yankee/dev/simplon/projet-gitlab/first-p/backgrey.jpg");
}

.top h5{
	margin-top:100px;
}

.top p{
	line-height : 50px;
	margin-bottom: 130px;
	font-size:35px; 	
}

img{
	height:125;
}

.volunteer{
	display:inline-block;
	font-family:times,serif;
	font-size:20px;
	line-height: 30px;
	float:left;
	position: relative;
	margin-left:90px;
}

.hub{
	display: inline-block;
	font-family:times,serif;
	font-size:20px;
	line-height: 30px;
	margin-left: 80px;
}

.donate{
	display: inline-block;
	font-family:times,serif;
	font-size:20px;
	line-height: 30px;
	float:right;
	position: relative;
	margin-right: 100px;
}

.buttons{
	height: 38px;
	width:172px;
	border-color:grey;
	background-color: transparent;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
	padding-top: 6px;
	margin-top: 50px;
	margin-bottom: 100px;
}

a{
	font-size:15px;
	text-decoration: none;
	color:black;
}

.buttons:hover{
	border-color:green;
	cursor: pointer;
}